@model List<TravelManagementSystem.ViewModels.PlaceModel>
@{
    ViewData["Title"] = "Home Page";
}


    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
          
            <h2>Newly Discovered Places</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h2>Find Your Destination</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h2>Know before Travel</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->



    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Places</h2>
              <a asp-controller="Place">view all places with detail <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <img src="images/kathmandu.jpg" alt="">
              <div class="down-content">
                <h4>Kathmandu</h4>
         
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <img src="images/bhaktapur.jpg" alt="">
              <div class="down-content">
                <h4>Bhaktapur</h4>
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <img src="images/lalitpur.jpg" alt="">
              <div class="down-content">
                <h4>Lalitpur</h4>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>


    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Sahayatri</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best place?</h4>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
                <li><a href="#">Non cum id reprehenderit</a></li>
              </ul>
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="images/feature-image.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    
 <!-- Page Content -->