<!-- Page Content -->
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>REgister</h4>
                    <h2>User/business</h2>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="best-features about-features">
    <div class="container">
        <div class="left-content">
            <h2>What do you want to Register?</h2>

        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 all des">
                            <div class="product-item">

                                <div class="down-content">
                                    <a asp-controller="Account" asp-action="Index" class="filled-button"><h3>Register User</h3></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 all dev">
                            <div class="product-item">
                                <div class="down-content">
                                <a asp-controller="Account" asp-action="AddBusiness" class="filled-button"><h3>Add Business</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>