@using Microsoft.AspNetCore.Identity
@model TravelManagementSystem.ViewModels.PlaceModel;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Add Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
     {
<!-- Page Content -->
 <div class="send-message">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Add Country</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="contact-form">
                    <form id="contact" asp-action="AddCountry" asp-controller="Place" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <label asp-for="CountryId"></label>
                                    <input name="ContryId" asp-for="CountryId" type="text" class="form-control" id="name" placeholder="Counrty Name">
                                    <span asp-validation-for="Name"></span>
                                </fieldset>
                            </div>

                  
                            <br />
                            <br />
 
                            <div class="col-lg-12">
                                <fieldset>
                                    <label asp-for="Description"></label>
                                    <textarea asp-for="Description" rows="8" class="form-control" id="message" placeholder="Description" required=""></textarea>
                                </fieldset>
                            </div>


                           <div class="col-lg-12">
                                <fieldset>
                                    <label for="title"><span>Select Images for Country</span></label>
                                    <input asp-for="Images" type="file" name="Images" class="ImageField" multiple class="filled-button">
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">Add Business</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
}
else
{
    <h1 class="text-danger"> You are not authorized !!! </h1>
}