@model TravelManagementSystem.ViewModels.PlaceModel;
@{
    ViewData["Title"] = "Places Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Share your Review</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Places</li>
                  <li data-filter=".des">Featured</li>
                  <li data-filter=".dev">Mostly Viewed</li>
                  <li data-filter=".gra">Underrated</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
              <a href="kathmandu.html"><img src="assets/images/kathmandu.jpg" alt=""></a>
              <div class="down-content">
                <a href="kathmandu.html"><h4>Kathmandu</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span><a href="kathmandu.html">Check Details</a> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 all dev">
                      <div class="product-item">
              <a href="bhaktapur.html"><img src="assets/images/bhaktapur.jpg" alt=""></a>
              <div class="down-content">
                <a href="bhaktapur.html"><h4>Bhaktapur</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span><a href="bhaktapur.html"> Check Details </a></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 all gra">
                      <div class="product-item">
              <a href="lalitpur.html"><img src="assets/images/lalitpur.jpg" alt=""></a>
              <div class="down-content">
                <a href="lalitpur.html"><h4>Lalitpur</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span><a href="lalitpur.html">Check Details </a> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 all gra">
                      <div class="product-item">
              <a href="sindhupalchowk.html"><img src="assets/images/sindhupalchowk.jpg" alt=""></a>
              <div class="down-content">
                <a href="sindhupalchowk.html"><h4>Sindhupalchowk</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span><a href="sindhupalchowk.html">Check Details</a> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 all dev">
                       <div class="product-item">
              <a href="pokhara.html"><img src="assets/images/pokhara.jpg" alt=""></a>
              <div class="down-content">
                <a href="pokhara.html"><h4>Pokhara</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span><a href="pokhara.html"> Check Details </a> </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
              <a href="chitwan.html"><img src="assets/images/chitwan.jpg" alt=""></a>
              <div class="down-content">
                <a href="chitwan.html"><h4>Chitwan</h4></a>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span><a href="chitwan.html">Check Details</a> </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
